services:
  mysql:
   image: mysql:8.0
   environment:
     MYSQL_ROOT_PASSWORD: my-pw  
   ports:
     - 3306:3306
   volumes:
    - my-db-volume:/var/lib/mysql
   healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 15s
      retries: 3  
  api:
    build: .
    ports:
      - 8000:8000
    environment:
      DATABASE_USER: root
      DATABASE_NAME: weapon_db
      DATABASE_PORT: 3306
      DATABASE_HOST: mysql
      DATABASE_PASSWORD : my-pw
      TABLE_NAME: weapon_table
    depends_on:
      mysql: 
        condition: service_healthy 

volumes:
  my-db-volume:
    